/Lab_1/nbproject/private/
/Lab_1/build/
/Homework1/nbproject/private/
/Homework1/build/
/Lab_2/nbproject/private/
/Lab_2/build/
/Lab_2_1/nbproject/private/
/Lab_2_1/build/
/Homework2/nbproject/private/
/Homework2/build/
/Homework2test/nbproject/private/
/Lab_3/nbproject/private/
/Lab_3/build/
/Lab_3/dist/
/Homework4/nbproject/private/
/Homework4/build/
/Lab_5/lab5_skeleton/dist/
/Homework1/dist/
/Lab_6/nbproject/private/
/Lab_6/build/
/Homework5/nbproject/private/
/Homework5/build/
/CSYE6200/nbproject/private/
/finalProject/build/
/finalProject/dist/
/finalProject/nbproject/private/